.App {
  text-align: center;
}

body {
  background-color: #000000;
  height: 75rem;
}

.space {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: end;
}

.env {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.earth {
  width: 30rem;
  position: absolute;
  bottom: 0;
}

.moon {
  width: 12.5rem;
  position: absolute;
  top: 0;
}

.portal-gun,
.portal {
  margin-bottom: 3vh;
  background-color: black;
  border-width: inherit;
}

.portal-gun img {
  width: 6.25rem;
}

.portal img {
  width: 3.75rem;
}

.title {
  position: absolute;
  left: 1.25rem;
  top: 1rem;
  width: 19rem;
}

.spaceShip6 {
  position: absolute;
  right: 8.75rem;
  top: 19rem;
  width: 10rem;
  transform: rotate(-10deg);
}

.spaceShip4 {
  position: absolute;
  left: 6.25rem;
  top: 44rem;
  width: 6.25rem;
  transform: rotate(-15deg);
}

.spaceship {
  position: absolute;
  bottom: 13.75rem;
  z-index: 1;
  transform: rotate(-45deg);
  width: 8.5rem;
}

button text {
  color: #ffffff;
  margin: 1rem 0;
}

button div {
  color: #ffffff;
  margin: 1rem;
}

/* --- */

.btn {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-bottom: 20vh;
  border: 0.125rem solid #000000;
}

.btn-danger {
  background-color: #dc3545;
  color: #ffffff;
  border-color: #dc3545;
}

.btn-danger:hover {
  background: rgba(220, 53, 69, 0.75);
  border-color: rgba(220, 53, 69, 0.75);
}

.btn-info {
  background-color: #17a2b8;
  color: #ffffff;
  border-color: #17a2b8;
}

.btn-info:hover {
  background: rgba(23, 162, 184, 0.75);
  border-color: rgba(23, 162, 184, 0.75);
}